@media(max-width: 1400px)
{}
@media(max-width: 1200px)
{}

@media(max-width: 991px)
{
	.discount{
	    /*margin-top: 135px;*/
	}
	.userpanel li{
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.nav-item:first-child{
	    margin-top: 50px;
	}
	.nav-link:hover span{
		width: 0;
	}
	.dropdown-menu{
		text-align: center !important;
	}

}
@media(max-width: 767px)
{}
@media(max-width: 575px)
{
	.cpy{
		padding: 0px 10px;
	}
	footer ul li {
	     padding-bottom: 5px; 
	}
}