@media(max-width: 1400px)
{
	.product .imgholder {
	    height: 350px;
	}
}
@media(max-width: 1200px)
{
	.product .imgholder {
	    height: 300px;
	}
}

@media(max-width: 991px)
{
	.discount{
	    margin-top: 135px;
	}
	.userpanel li{
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.product .imgholder {
	    height: 230px;
	}
	.navbar-collapse {
	    margin-top: 50px;
	}
	.nav-link:hover span{
		width: 0;
	}

}
@media(max-width: 767px)
{
	.product .imgholder {
	    height: 260px;
	}
}
@media(max-width: 575px)
{
	.cpy{
		padding: 0px 10px;
	}
}