html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Saira', sans-serif !important;
	background-color: #F3F0EB !important;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none !important;
}
h1{
	font-weight: 300 !important;
    font-size: 36px !important;
}
h2{
    font-weight: 300 !important;
    font-size: 28px !important;
}
p{}
.btn{
    padding: 12px 0px !important;
    width: 250px;
    margin: 10px 0px;
    font-weight: 600;
    font-size: 14px;
    transition-duration: 0.3s;
}
.btn:hover{}
span{
    color: black;
    text-decoration: none;
    padding: 0px 5px;
}
.spen{
    display: block;
    padding: 1px;
    background: #B56251;
    width: 100px;
    border-radius: 60px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar-brand{
    margin-right: 0 !important;
    right: 50%;
    transform: translate(50%, -20px);
    top: 0;
    position: absolute;
}
.navcontainerx{
	position: relative;
}
.navbar-brand img{
	width: 130px;
}
.userpanel{
}
.userpanel li{
    padding-left: 30px;
}
.userpanel li a{
    color: inherit;
}

.userpanel li a i{}
nav{
    background: #F3F0EB;
    border-bottom: 1px solid black;
}
nav li a:hover{
	color: #B56251 !important;
}
.nav-item{
	padding: 10px 0px;
}
.discount{
    margin-top: 155px;
    padding: 5px 0px;
    font-weight: 700;
    color: #BCAA78;
    background: #333333;
    font-size: 14px;
    letter-spacing: 2px;
}
.discount p{}

.banner1{
    background-image: url(../images/bannerbg.jpg);
    background-blend-mode: darken;
    background-color: #0000008c;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 150px 0px;
}
.banner1 .st{
    color: #B56251;
    margin-top: 10px;
}
.banner1 h1{
	font-size: 46px !important;
    font-weight: 400 !important;
}
.banner1 h2{
    padding: 10px;
}
.banner1 .btn, .banner6 .btn{
    color: #FFF !important;
    background: #B56251 !important;
    border: 1px solid #B56251;
}
.banner1 .btn:hover, .banner6 .btn:hover{
    background: transparent !important;
}

footer{
	padding-top: 50px;
	padding-bottom: 10px;
	border-top: 1px solid black;
}
footer .row{
    --bs-gutter-y: 1.5rem;
}
footer ul{
    list-style: none;
}
footer ul li{}
footer ul li a{
	text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 2;
    transition-duration: 0.3s;
}
footer ul li:first-child{
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}
footer ul li a:hover{
	color: #B56251 !important;
}
footer form input{
	max-width: 100%;
}
.cpy{
	opacity: 0.8;
	font-size: 14px;
}

.productgrid{
	padding: 50px 0px;
}
.product{}
.product a{}
.product a:hover{}
.product .imgholder{
	height: 450px;
	position: relative;
	overflow: hidden;
}
.product .imgholder img{
	object-fit: contain;
}
.product .imgholder img:first-child{position: absolute;
	bottom: 0;right: 0;
	z-index: 50;
	transition: all 0.5s;
}
.product .imgholder img:nth-child(2){position: absolute;
	right: 0;
	bottom: -100%;
	z-index: 60;
	transition: all 0.5s;
}
.product:hover .imgholder img:first-child{
	bottom: 100%;
}
.product:hover .imgholder img:nth-child(2){
	bottom: 0;
}




.product .imgholder .onsales h6{
    background: black;
    color: #FFF;
    z-index: 70;
    position: absolute;
    padding: 2px 10px;
    right: 0;
    top: 0;
}
.product .imgholder .qv h6{
    position: absolute;
    bottom: -25px;
    z-index: 99;
    margin: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    color: #FFF;
    text-align: center;
    background: black;
    padding: 3px 0px;
    transition: all 0.3s;
    transition-delay: 0.5s;
}
.product:hover .imgholder .qv h6{
    bottom: 0px;
    opacity: 10;
}
.product .title{
	display: block;
	margin-top: 10px;
}
.product:hover .title{
	color: #B56251 !important;
}
